.dce-body {
    background-color: #084a37;
}

.dce-navlink{
    color: #fac237;
}

.dce-navlink:hover,
.dce-navlink:focus {
    color: #E39B27;
}

.dce-dropdownmenu {
    background-color: #084a37;
    border: none;
}

.dce-dropdownitem:hover,
.dce-dropdownitem:focus {
    background-color: #066161;
}

.dce-main {
    background-color: #ffffff;
    margin: 5px;
    padding: 20px 10px;
}