<div class="dce-header-logo text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <a class="mx-auto ms-lg-0" href="{{"/index.html" | relative_url}}">
                <img src="{{"/assets/img/dublincityexiles2023.png" | relative_url}}" alt="" height="100" class="d-inline-block align-text-top" />
            </a>
        </div>
    </div>
</div>
<nav class="dce-navbar navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                {% for menu in site.data.menus %}
                <li class="nav-item mx-auto mx-lg-3">
                    {% if menu.submenu %}
                    <a class="dce-navlink nav-link dropdown-toggle fs-5" href="#" id="{{ menu.name }}Link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ menu.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="{{ menu.name }}Link">
                        {% for submenu in menu.submenu %}
                        <li><a class="dce-navlink dce-dropdownitem dropdown-item fs-5" href="{{ submenu.link | relative_url }}">{{ submenu.name }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <a class="dce-navlink nav-link fs-5" aria-current="page" href="{{ menu.link | relative_url }}">{{ menu.name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>