<link rel="stylesheet" href="{{ "/assets/css/fontawesome/css/all.css" | relative_url }}">
<link rel="stylesheet" href="{{"/assets/css/bootstrap/bootstrap.css" | relative_url}}">
<link rel="stylesheet" href="{{"/assets/css/dublincityexiles.css" | relative_url}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="assets/img/dublincityexiles.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }}</title>