.dce-body {
    background-color: #084a37;
}

.dce-navlink{
    color: #fac237;
}

.dce-navlink:hover,
.dce-navlink:focus {
    color: #E39B27;
}

.dce-post-link{
    color: #084a37;
    text-decoration: none;
    font-weight: bold;
}

.dce-post-link:hover,
.dce-post-link:focus {
    color: #066161;
}

.dce-dropdownmenu {
    background-color: #084a37;
    border: none;
}

.dce-dropdownitem:hover,
.dce-dropdownitem:focus {
    background-color: #066161;
}

.dce-main {
    background-color: #ffffff;
}

.dce-footer{
    background-color: #066161;
}

.dce-footer-img {
    background-color: #ffffff;
}

.dce-post-date {
    font-size: 12px;
    color: gray;
}