.dce-body {
    background-color: #ffffff;
    font-family: Helvetica, sans-serif;
    color: #084a37;
}

.dce-header-logo {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #16694B 0%, #16694B 50%, #ffffff 0%, #ffffff 50%);
}

.dce-footer-logo {
    margin: 0;
    padding: 0;
    background: #16694B;
}

.dce-navbar {
    background-color: #ffffff !important;
}

.dce-navlink{
    color: #084a37 !important;
}

.dce-navlink:hover,
.dce-navlink:focus {
    color: #fac237 !important;
}

.dce-aboutus {
    background-image: url("../img/about-us.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dce-section-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.dce-section-content {
    width: 100%;
}

@media (min-width: 992px) {
    .dce-section-content {
        width: 50%;
    }    
}

.dce-section {
    background-color: #16694B;
}

.dce-button-link {
    border-width: 2px;
    font-weight: bold;
    border-color: #fff;
}

.dce-button-link:hover,
.dce-button-link:focus {
    background-color: #084a37;
    border-color: #fac237;
}

.dce-link:hover,
.dce-link:focus {
    color: #fac237 !important;
}

.dce-link {
    color: #fff;
    text-decoration: none;
}

.dce-post-link{
    color: #084a37;
    text-decoration: none;
    font-weight: bold;
}

.dce-post-link:hover,
.dce-post-link:focus {
    color: #066161;
}

.dce-dropdownmenu {
    background-color: #084a37;
    border: none;
}

.dce-dropdownitem:hover,
.dce-dropdownitem:focus {
    background-color: #066161;
}

.dce-main {
    background-color: #ffffff;
}

.dce-footer{
    background-color: #066161;
}

.dce-footer-img {
    background-color: #ffffff;
}

.dce-post-date {
    font-size: 12px;
    color: white;
}

.dce-carousel-caption {
    text-align: start !important;
}