---
layout: default
---

<div class="col-12 col-md-8">
    <div class="h-100 p-5 bg-light border rounded-3">
        <h2>Welcome</h2>
        <p class="lead">Welcome to the Dublin City Exiles Rugby League Football Club Website.</p>
        <p>Find out all you need about Dublin City Exiles RLFC, the team, fixtures, match reports and all the latest news.</p>
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="dce-social">
        <h4>Follow us on</h4>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
        </div>
    </div>
</div>